*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header{
    display: flex;
    justify-content:space-around;
    align-items: center;
    background-color: rgb(94, 255, 255);
    padding: 20px 60px;
}
.menu ul{
    display: flex;
    gap: 32px;
}
.menu ul li a{
    color: rgb(238, 157, 58);
}
.menu ul li a:hover{
    color: rgb(49, 14, 252);
}
.menu-celular{
    display: none;
}
@media(max-width: 777px){
    header{
        background-color: antiquewhite;
    }
    .menu.adicionarClasseClicar{
        height: 400px;
        transition: 1s;
    }
    .menu{
        height: 0px;
        position: absolute;
        top: 80px;
        left: 0px;
        width: 100%;
        background-color: antiquewhite;
        transition: 1.5s ease;
        font-size: large;
    }
    .menu-celular .linha{
        width: 38px;
        height: 3px;
        background-color: white;
        margin: 8px 0px;
        transition: all 0.3s ease;
    }
    .menu ul{
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 50px;
        margin: 70px auto;
    }
    .menu-celular{
        display: block;
    }
}